.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-color: #333;
  height: 90%;
  color: cyan;
  height: 91vh;
}

.signin-container {
  display: flex;
  flex-direction: column;
  padding-block-end: 20px;
  /* border: 1px solid lightgray; */
  box-shadow: 5px 10px 10px rgba(gray, 0.2);
  width: 300px;
  border-radius: 4px;
  border-radius: 10px;
  padding: 20px;

  -webkit-box-shadow: 0 4px 10px 4px rgba(142, 167, 187, 0.3);
  box-shadow: 0 4px 10px 4px rgba(252, 252, 252, 0.3);
}

.signin-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 28px;
}
.signin-container > form > h5 {
  margin-bottom: 5px;
}
.signin-container > form > input {
  height: 29px;
  margin-bottom: 10px;
  background-color: #ffffff;
  width: 98%;
  font: 400 13.3333px Arial;
  letter-spacing: normal;
  word-spacing: normal;
  border: 1px solid;
  border-radius: 2px;
}
.signin-container > p {
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-top: 15px;
  font-size: 12px;
}
.signin-btn {
  /* background: rgb(240, 179, 59); */
  background: #4078c0;
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-radius: 2px;
  margin-top: 10px;
  color: #ffffff;
  /* border-color: rgb(240, 179, 59) rgb(240, 179, 59) rgb(240, 179, 59); */
}
.signup-btn {
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-radius: 2px;
  margin-top: 10px;
  border-color: darkgray;
}
.redirect-signin {
  color: #0066c0;
}
